@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;400;700&family=Source+Sans+Pro:wght@200;300;400&display=swap');

.carousel {
    width: 100%;
    height: 700px;
    background-color: black;
}

.carouselInner {
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}

.carouselInner .left {
    flex: 25%;
    height: 100%;
    display: grid;
    place-items: center;
    color: white;
    cursor: pointer;
}

.carouselInner .center {
    flex: 100%;
    height: 100%;
    margin-top: 12rem;
    margin-left: 34rem;
    place-items: center;
    font-family: Source Sans Pro, sans-serif;
    text-align: left;
    text-align-last: left;
}

h1 {
    font-size: 2rem;
    font-family: Roboto Slab;
    color: white;
    margin-right: 10rem;
}

p {
    font-size: 1rem;
    font-family: Source Sans Pro;
    color: white;
}

h3 {
    font-family: Source Sans Pro;
    color: #FFE5CB;
}


button {
    background: #EB5E35;
    border-radius: 18px;
    color: white;
    width: 10rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    align-items: center;
    border: none;
    cursor: pointer;
}

.carouselInner .right {
    flex: 25%;
    height: 100%;
    display: grid;
    place-items: center;
    color: white;
    cursor: pointer;
}